@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
}

h1,
h2,
h3,
h4,
p,
a,
input,
label,
button {
  font-family: "Roboto Slab", serif;
  font-weight: normal;
}

h1 {
  font-size: large;
  font-weight: bold;
}

h2 {
  font-size: medium;
}

.formContainer {
  background-color: white;
  width: 250px;
  padding: 20px;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.69);
}

.formContainer input {
  width: 100%;
  margin-bottom: 10px;
  height: 25px;
  border: 1px solid rgb(222, 222, 222);
  padding-left: 5px;
}

.formContainer h3 {
  text-align: center;
  margin-bottom: 20px;
}

.errMsg {
  text-align: center;
  background-color: red;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

button {
  padding: 5px;
}

label {
  font-size: medium;
  align-items: flex-start;
}

.login_info {
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: right;
  padding: 10px;
}

ul {
  list-style: none;
  overflow-x: hidden;
  white-space: nowrap;
  height: 2em;
  width: 100%;
}

li {
  display: inline;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.product_list {
  background-color: azure;
}

#uidnote,
#pwdnote,
#confirmnote {
  color: rgb(67, 67, 67);
  font-size: 0.8em;
  margin-top: 0px;
  margin-bottom: 10px;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.header {
  height: 100px;
}

.products {
  max-width: 1250px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
}

.productpage_item {
  display: flex;
  background: #fff;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 8px;
}

.product_item {
  max-width: 380px;
  background: #fff;
  margin-top: 10px;
  margin-bottom: 8px;
}

.product_item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.productpage_item img {
  width: 350px;
  height: 300px;
  object-fit: cover;
}

.productpage_list_txt,
.product_list_txt {
  padding: 10px;
}

.productpage_info {
  width: 60%;
}

.cartbutton {
  padding: 10px;
}

[role="navigation"] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.paging {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.paging a {
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.next a,
.previous a {
  color: rgb(0, 0, 0);
}

.selected a {
  color: rgb(241, 100, 0);
  font-size: x-large;
}
